:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: #7944fe;
  --player-x-color: #fc6787;
  --player-o-color: #fece66;
  --tie-color: #2fed98;
  --border-color: black;
  --box-shadow-color: rgba(0, 0, 0, 1);
  --cell-gap: 1.2rem;
  --cell-size: 4.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
